body {
    margin: auto;
    }
    
    .cabeçalho {
        background-image: url('https://missao.continente.pt/media/3fwdgvhc/educacao_de_qualidade_missao_continente-text.png?width=746&height=562&mode=max');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 300px;
        background-position: bottom center;
    }

    .principal{
        margin: 2% 5% 5% 5%;
        background-color:  rgb(255, 255, 255);
    }

    h1{
        text-shadow: 2px 2px 5px rgb(176, 0, 0);
    }

    .titulo {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 23px;
        height: 10px;
        margin: 2% 5% 5% 5%;

    }

    .foto{
        float: left;
        margin: 10px;
        padding: 75px;
    }

    .comeco{
        margin-top: 90px;
        padding: 2px;
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 10px;
    }

    ul.a{
        list-style-type: circle;
        line-height: 1.5;
    }

    .conteudo{
        font-size: 16px;
        padding: 10px 10px 10px 10px;
    }

    
    .big {
    line-height: 3.8;
    }

    div{
        text-align: justify;
    }




    